<div class="nav-collapse collapse">
  <%= render :partial => 'projects/search' %>
</div>

<h4>All projects</h4>

<p></p>
<div id="notice"><%= flash[:notice] %></div>
<div id="enotice"><%= flash[:enotice] %></div>
<p></p>

<% if @projects.size > 0 %>
	<table>
	<% @projects.each do |p| %>
		<tr class="projectRow">			

		<!-- If online user are admin -->

			<% if p.user_id == current_user.id && p.users.include?(current_user) %>
				<td class="projectCell">
						<%= link_to p.name, project_path(p.id) %>
				</td>
				<td>
					<span class="yourProject"><i class="icon-ok-sign"></i>Admin</span>
				</td>
				<td>
					<span class="memberProject"><i class="icon-ok-sign"></i>Member</span>
				</td>

			<% elsif p.user_id == current_user.id %>
				<td class="projectCell">
						<%= link_to p.name, project_path(p.id) %>
				</td>
				<td>
					<span class="yourProject"><i class="icon-ok-sign"></i>Admin</span>
				</td>				

			<% elsif  p.users.include?(current_user) %>
				<td class="projectCell">
					<%= link_to p.name, project_path(p.id) %>
				</td>

				<td>
					<span class="memberProject"><i class="icon-ok-sign"></i>Member</span>
				</td>
					
			<% else %>
				<td class="projectCell">
					<span class="muted"><%= p.name %></span>
				</td>
				<td>
					<span class="noProject"><i class="icon-remove-circle"></i>Not authorized</span>
				</td>
			<% end %>


		</tr>
	<% end %>
	</table>
<% else %>
	<p class="muted">Sorry, there are no projects created yet.</p>
<% end %>
