<h4>Editing <%= @project.name %></h4>

<%= form_for @project, :url => project_path(@project)  do |p| %>
      
  <% if @project.errors.any? %>
    <div class="error_messages">
      <h4>Form is invalid</h4>
      <ul>
        <% for msg in @project.errors.full_messages %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<legend>Please enter the information below</legend>

        <%= p.label :name %>
        <%= p.text_field :name %>

        <%= p.label :description %>
        <%= p.text_field :description %>

        <%= p.label :start_date %>
        <%= p.date_select :start_date, :start_year => 2013 %>

        <%= p.label :end_date %>
        <%= p.date_select :end_date, :start_year => 2013 %>

        <% @users.each do |u| %>
              <p>
                <% if @members.include? u %>
                  <%= check_box_tag 'chosen_userids[]', u.id, true -%>
                  <%= u.first_name%> <%= u.last_name%>
                <% else %>
                  <%= check_box_tag 'chosen_userids[]', u.id -%>
                  <%= u.first_name%> <%= u.last_name %>
                <% end %>
              </p>
        <% end %>

    	<%= p.submit "Save changes", :class => "btn" %>
<% end %>
