<h4>Create a new project</h4>

<%= form_for @project, :url => { :action => "create" } do |p| %>
      
  <% if @project.errors.any? %>
    <div class="error_messages">
      <h4>Form is invalid</h4>
      <ul>
        <% for msg in @project.errors.full_messages %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

        <legend>Whats the projects name?</legend>
        <%= p.text_field :name %>

        <legend>Describe the project</legend>
        <%= p.text_field :description %>

        <legend>When does the project start?</legend>
        <%= p.date_select :start_date, :start_year => 2013 %>

        <legend>When does it end?</legend>
        <%= p.date_select :end_date, :start_year => 2013 %>

  <div class="input-append">
    <div class="btn-group">
      <button class="btn dropdown-toggle btn-inverse dropproject" data-toggle="dropdown">
        Choose members
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% @user.each do |u| %>
              <li>
                <%= check_box_tag 'chosen_userids[]', u.id%> <%= u.first_name%> <%= u.last_name%>
              </li>
        <% end %>
      </ul>
      <%= p.submit "Skapa project", :class => "btn btn-success" %>
    </div>
  </div>

    
<% end %>
