<% @user = User.all %>

<h4>Create a new project</h4>

<%= form_for @project, :url => { :action => "create" } do |p| %>
      
  <% if @project.errors.any? %>
    <div class="error_messages">
      <h4>Error occured - please correct and try again.</h4>
      <ul>
        <% for msg in @project.errors.full_messages %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

        <%= p.label :name %>
        <%= p.text_field :name, :placeholder => "Project name..." %>

        <%= p.label :description %>
        <%= p.text_area :description, :size => "10x10", :placeholder => "Describe the project..." %>

        <%= p.label :start_date %>
        <%= p.date_select :start_date, :start_year => 2013 %>

        <%= p.label :end_date %>
        <%= p.date_select :end_date, :start_year => 2013 %>

  <div class="input-append">
    <div class="btn-group">
      <button class="btn dropdown-toggle btn-inverse dropproject" data-toggle="dropdown">
        Choose members
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% @user.each do |u| %>
              <li>
                <%= check_box_tag 'chosen_userids[]', u.id%> <%= u.first_name%> <%= u.last_name%>
              </li>
        <% end %>
      </ul>
      <%= p.submit "Skapa project", :class => "btn btn-success" %>
    </div>
  </div>

    
<% end %>
