
<h4><%= @project.name %></h4>

<p><strong>Startdatum: </strong> <%= @project.start_date.strftime("%d.%m.%y %H:%M") %> </p>
<p><strong>Slutdatum: </strong> <%= @project.end_date.to_formatted_s(:use_month_numbers ) %> </p>

<P><strong>Project owner: </strong> <%= @owner.first_name %> <%= @owner.last_name %></p>

<strong>
	Medlemmar: 
</strong>

<% @members.each do |u| %>
	<span>
		<%= u.first_name %> <%= u.last_name %>,
	</span>
<% end %>

<br />
<br />
<strong>Tickets: </strong>
<span>
	<%= @tickets.name %>
</span>

<br />
<br />
<%= link_to "New ticket", new_project_ticket_path(@project) %>


