
<h4><%= @project.name %></h4>
<p><%= @project.description %></p>
<p><strong>Start date: </strong> <%= @project.start_date.strftime("%d.%m.%y %H:%M ") %><strong>Deadline: </strong> <%= @project.end_date.to_formatted_s("%d.%m.%y %H:%M") %> </p>
<P><strong>Project owner: </strong> <%= @owner.first_name %> <%= @owner.last_name %></p>

<strong>
	Medlemmar: 
</strong>

<% @members.each do |u| %>
	<span>
		<%= u.first_name %> <%= u.last_name %>,
	</span>
<% end %>

<br />
<br />
<strong>Tickets: </strong>
<% if @tickets.project_id == @project.id %>
  <% @tickets.each do |u| %>
    <span>
      <%= u.name  %>
    </span>
  <% end %>
<% else %>
  <span>
    There are no tickets for this project...
  </span>
<% end %>

<br />
<br />
<div class="input-append">
  <div class="btn-group">
    <button class="btn dropdown-toggle btn-inverse dropproject" data-toggle="dropdown">
      Project options
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "Edit project", edit_project_path(@project) %></li>
      <li><%= link_to "Delete project", project_path(@project), :confirm => 'Are you sure?', :method => :delete %></li>
    </ul>
    <%= link_to "New ticket", new_project_ticket_path(@project), :class => "btn btn-success" %> 
  </div>
  
</div>



