<h4>Create a ticket</h4>
<!-- <section class="siteForms"> -->
<%= form_for @ticket, :url => project_tickets_path(@project)  do |t| %>
      
	  <% if @ticket.errors.any? %>
	    <div class="error_messages">
	      <h4>Form is invalid</h4>
	      <ul>
	        <% for msg in @ticket.errors.full_messages %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>

	<legend>Please enter the information below</legend>
	
	<%= t.hidden_field :project_id, :value => @project.id %>
	<%= t.hidden_field :user_id, :value => current_user.id %>

	<%= t.label :name %>
	<%= t.text_field :name, :placeholder => "Eg. Create a ticket..." %>

	<%= t.label :description %>
	<%= t.text_area :description, :size => "10x10", :placeholder => "Eg. Trying to create a ticket..." %>

	<br />
	<%= t.collection_select :status_id, @status, :id, :status_name, :prompt => "Select a status" %>
	<br />
	<%= t.submit "Create ticket", :class => "btn btn-success" %>
<% end %>
<!-- </section> -->