<h1><%= @ticket.name %></h1>
<p></p>
<div id="notice"><%= flash[:notice] %></div>
<div id="enotice"><%= flash[:enotice] %></div>
<p></p>
<p><bold>Description: </bold><span><%= @ticket.description %></span></p>
<p><bold>Created at: </bold><span><%= @ticket.created_at.strftime("%d.%m.%y %H:%M ") %></span></p>
<p><bold>Last edited: </bold><span> <%= @ticket.updated_at.strftime("%d.%m.%y %H:%M ") %></span></p>
<p><bold>Status: </bold><span> <%= @status.status_name %></span></p>
<div class="input-append">
  <div class="btn-group">
    <button class="btn dropdown-toggle btn-inverse dropproject" data-toggle="dropdown">
      Ticket options
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "Edit ticket", edit_ticket_path(@ticket.id) %></li>
      <li><%= link_to "Delete ticket", ticket_path(@ticket.id), :confirm => 'Are you sure?', :method => :delete %></li>
    </ul>
  </div>
  
</div>