<h1><%= @ticket.name %></h1>

<p><%= @ticket.description %></p>
<p>Created at:<%= @ticket.created_at %></p>
<p>Last edited: <%= @ticket.updated_at %></p>

<div class="input-append">
  <div class="btn-group">
    <button class="btn dropdown-toggle btn-inverse dropproject" data-toggle="dropdown">
      Ticket options
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "Edit ticket", edit_ticket_path(@ticket.id) %></li>
      <li><%= link_to "Delete ticket", ticket_path(@ticket.id), :confirm => 'Are you sure?', :method => :delete %></li>
    </ul>
  </div>
  
</div>