<section>
	<%= form_for @user do |f| %>

	  <% if @user.errors.any? %>
	    <div class="error_messages">
	      <h4>Form is invalid</h4>
	      <ul>
	        <% for message in @user.errors.full_messages %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>
	  
		<legend>Create AMPTA account</legend>
	    <%= f.label :first_name %>
	    <%= f.text_field :first_name %>

	    <%= f.label :last_name %>
	    <%= f.text_field :last_name %>

	    <%= f.label :email %>
	    <%= f.text_field :email %>

	    <%= f.label :password %>
	    <%= f.password_field :password %>

	    <%= f.label :password_confirmation %>
	    <%= f.password_field :password_confirmation %>

	  	<%= f.submit "Create", :class => "btn" %> 
	<% end %>
</section>